* {
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  }

html {
    background: url(images/backgrounds/white.jpg) no-repeat center center fixed;
    background-size: cover;
  }

.main {
  max-width: 100%;
  margin-bottom: 100px;
}

.banner {
  position: relative;
  text-align: right;
  color: white;
}

.heading {
  position: absolute;
  top: 15%;
  right: 20px;
  max-width: 50%;
}

.name {
  font-size: 12rem;
  line-height: 90%;
  margin-bottom: 50px;
}

.build {
  font-size: 6rem;
}

a.button {
  background-color: white;
  margin-left: 10px;
}

.project {
  max-width: 50%;
  height: 450px;
  border: 1px solid black;
  overflow: auto;
  padding: 10px;
  margin-bottom: 40px;
  background-color: white;
}

.projectpic {
  width: 100%;
}

.heroku {
  border: 1px solid black;
  padding: 2px;
  height: 40px;
  width: 125px;
}

.go {
  color: black;
  font-size: 2rem;
  margin-left: 10px;
  position: absolute;
  text-transform: uppercase;
}

.logolink {
  height: 35px;
}

.github {
  border: 1px solid black;
  padding: 2px;
  height: 40px;
  margin: 0 auto;
  width: 200px;
}

.contact {
  text-align: center;
  margin: 0 auto;
}

i {
  margin: 0 10px 10px 10px;
  color: black;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.hvr-box-shadow-outset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}


footer {
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
  color: white;
}
